doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,900&display=swap' rel='stylesheet')
  // Bootstrap CSS
  link(rel='stylesheet' href='assets/css/bootstrap.min.css')
  link(rel='stylesheet' href='assets/css/main.css')
  title Tecnoacademia Oriente
body
    // inicioMenu (navbar)
    nav.navbar.navbar-expand-lg.navbar-dark.bg-pagina.sticky-sm-top
    .container-fluid
        a.navbar-brand(href='Index.html') Tecnoacademia
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item.dropdown
            li.nav-item
            a.nav-link.btn.btn-primary(href='#scrollspyHeading1') &iquest;Qui&eacute;nes somos?
            li.nav-item
            a.nav-link.btn.btn-primary(href='#scrollspyHeading1') Modelo pedag&oacute;gico
            li.nav-item
            a.nav-link.btn.btn-primary(href='galeria.html') Galer&iacute;a
            li.nav-item
            a.nav-link.btn.btn-primary(aria-current='page' href='Blog.html') Blog
            li.nav-item
            a.nav-link.btn.btn-primary(href='#scrollspyHeading3') Participaci&oacute;n en eventos
            li.nav-item
            a.nav-link.btn.btn-primary(href='#scrollspyHeading4') Contacto
            // submenu
            li.nav-item.dropdown
            a.nav-link.dropdown-toggle.btn.btn-primary(data-bs-toggle='dropdown' href='#' role='button' aria-expanded='false') Nuestras l&iacute;neas
            ul.dropdown-menu
                li
                a.dropdown-item(href='tic.html') TIC
                li
                a.dropdown-item(href='diseño.html') Dise&ntilde;o y prototipado
                li
                a.dropdown-item(href='https://sites.google.com/misena.edu.co/electrobotica/inicio')
                    | Electr&oacute;nica
                    | y rob&oacute;tica
                li
                a.dropdown-item(href='biotec.html') Biotecnolog&iacute;a
    sblock contenido 
// final Menu (navbar)